@{
    ViewData["Title"] = "Yeehaw";
}

<!DOCTYPE html>

<html>
<head>
    
</head>

<body>
    <h1>Bartendin' and Stuff</h1>

    <h2>For Patrons:</h2>
    <p>
        <a asp-action="DrinkForm">Drinks Menu</a>
    </p>

    <h2>For Bartender:</h2>
    <p>
        <a asp-action="">Order Queue</a>
    </p>
</body>
</html>

